.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .overlay {
        background-color: rgba(108, 114, 117, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .modal-content {
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
            max-width: 60%;
            margin: 0 auto;

            .close-btn {

            }
        }
    }

    &.active {
        display: block;
    }
}