.about {
    padding-top: 64px;
    &__title {
        margin-bottom: 24px;
        max-width: 75%;
    }
    &__text {
        font-size: 16px;
        line-height: 162%;
        color: var(--black-color);
        font-family: var(--second-font);
        margin-bottom: 48px;
        max-width: 75%;
    }
    .about-main {
        display: flex;
        margin-bottom: 48px;
        &__img {
            object-fit: cover;
            width: 50%;
        }
        &__info {
            background-color: #F3F5F7;
            padding: 100px 72px;
            &-title {
                margin-bottom: 16px;
            }
            &-text {
                color: var(--black-color);
                font-size: 16px;
                line-height: 162%;
                font-family: var(--second-font);
                margin-bottom: 24px;
            }
            &-link {
                font-weight: 500;
                font-size: 16px;
                line-height: 175%;
                letter-spacing: -0.03em;
                color: var(--dark-black-color);
                font-family: var(--second-font);
            }
        }
        
    }
    
}

.contacts {
    .contacts__title {
        margin-bottom: 40px;
        text-align: center;
    }
    .contacts__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        margin-bottom: 40px;
        .contacts__item {
            background-color: #F3F5F7;
            padding: 16px 33px;
            text-align: center;
            font-family: var(--second-font);
            &-img {
                display: block;
                margin: 0 auto;
                margin-bottom: 16px;
            }
            &-title {
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: var(--dark-gray-color);
            }
            &-text {
                font-weight: 600;
                font-size: 16px;
                line-height: 162%;
                color: var(--black-color);
            }
        }
        
    }

    .contacts__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 28px;
        margin-bottom: 80px;
        .contacts-form {
            &__label {
                display: block;
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;
                text-transform: uppercase;
                font-family: var(--second-font);
                color: var(--dark-gray-color);
            }
            &__input {
                display: block;
                margin-bottom: 24px;
                margin-top: 12px;
                width: 100%;
                padding: 7px 16px;
                border: 1px solid #cbcbcb;
                border-radius: 6px;
                &::placeholder {
                    font-size: 16px;
                    line-height: 162%;
                    color: var(--dark-gray-color);
                    font-family: var(--second-font);
                    font-weight: 400;
                }
            }
            &__text {
                margin-top: 12px;
                margin-bottom: 24px;
                width: 100%;
                padding: 16px;
                border: 1px solid #cbcbcb;
                border-radius: 6px;
                &::placeholder {
                    font-size: 16px;
                    line-height: 162%;
                    color: var(--dark-gray-color);
                    font-family: var(--second-font);
                    font-weight: 400;
                }
            }
            &__btn {
                width: 189px;
                padding: 6px 0px;
            }
        }
        
    }

    .benefits {
        background-color: #F3F5F7;
        padding: 16px 0;
        &__inner {
            grid-gap: 0px;
        }
    }
}

@media (max-width: 1000px) {
    .about {
        .about-main {
            &__img {
                width: 40%;
            }
            &__info {
                padding: 80px 40px;
            }
        }
    }
    .contacts {
        .contacts__inner {
            grid-template-columns: 1fr;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 80px;
        }
        .benefits {
            &__inner {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 800px) {
    .contacts {
        .contacts__items {
            gap: 10px;
            .contacts__item {
                padding: 10px;
                display: flex ;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 600px) {
    .about {
        &__title {
            max-width: 100%;
        }
        &__text {
            max-width: 100%;
        }
        .about-main {
            flex-direction: column;
            &__img {
                width: 100%;
            }
        }
    }
    .contacts {
        .contacts__items {
            grid-template-columns: 1fr;
            .contacts__item {
                padding: 16px 10px;
            }
        }

        .contacts__inner {
            max-width: 90%;
        }
    }
}






