.layout-choice {
    display: flex;
    &__btn {
        border: 1px solid #6C7275;
        width: 46px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
            background-color: #f3f5f7;
        }
        &:hover {
            background-color: #f3f5f7;
        }
    }
}