.article-page {
    padding-top: 40px;
    &__sub {
        margin-bottom: 24px;
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
    }
    &__title {
        margin-bottom: 24px;
        max-width: 75%;
    }
    &__info {
        display: flex;
        gap: 48px;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: var(--dark-gray-color);
        margin-bottom: 40px;
        .article-page__info-author,  .article-page__info-date{
            position: relative;
            padding-left: 25px;
            &::before {
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
            }
        }
        .article-page__info-author {
            &::before {
                background-image: url('./author.svg');
            }
        
        }
        .article-page__info-date {
            &::before {
                background-image: url('./date.svg');
            }
        }
    }

    &__main-img {
        margin-bottom: 40px;
        object-fit: cover;
    }

    &__text {
        font-size: 16px;
        line-height: 162%;
        font-family: var(--second-font);
    }
    &__subtitle {
        font-weight: 500;
        font-size: 28px;
        line-height: 121%;
        letter-spacing: -0.02em;
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        margin-bottom: 40px;
        margin-top: 40px;
        img {
            object-fit: cover;
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        margin-top: 40px;
        margin-bottom: 160px;
    }

    .article-page__recommendation {
        margin-bottom: 80px;
        &-title {
            font-weight: 500;
            font-size: 28px;
            line-height: 121%;
            letter-spacing: -0.02em;
        }
        &-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: -0.03em;
            color: var(--dark-black-color);
            font-family: var(--second-font);
        }
        &-inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 24px;
        }
    }
}

@media (max-width: 800px) {
    .article-page {
        .article-page__recommendation {
            &-inner {
                grid-template-columns: repeat(2, 1fr);
               
            }
        }
    }
}

@media (max-width: 570px) {
    .article-page {
        &__inner {
            display: flex;
            flex-direction: column;
            .article-page__img {
                object-fit: cover;
                margin: 0 auto;
            }
        }
        .article-page__recommendation {
            &-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
            }
        }
    }
}






