.account-info {
    width: 100%;
    .account-info__form {
        &-fieldset {
            border: none;
            margin-bottom: 40px;
            padding: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        
        &-label {
        }
        &-input {
            width: 100%;
        }
        &-btn {
        }
        &-comment {
            font-family: var(--second-font);
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 167%;
            color: var(--dark-gray-color);
            margin-top: -12px;
            margin-bottom: 24px;
        }
    }
}

.account__title {
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 24px;
}

