.log-out {
    &__text {
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &__btn {
        width: 200px;
        font-size: 24px;
        background-color: rgb(192, 11, 11);
    }
}