.newsletter {
  background-image: url("./newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 93px;
  text-align: center;
  color: var(--black-color)
  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
  }
  &__descr {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
  }
  &-form {
    width: 488px;
    margin: 0 auto;
    border-bottom: 1px solid #6c7275;
    padding: 12px 0;
    padding-left: 28px;
    position: relative;
    &__input {
      background-color: transparent;
      border: none;
      width: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      background-image: url('./email.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }

    &__btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 700px) {
  .newsletter {
    &-form {
      width: 80%;
    }
  }
}

@media (max-width: 500px) {
  .newsletter {
    &-form {
      width: 90%;
    }
  }
}