.newsletter {
  background-image: url("./newsletter.png");
  padding-top: 101px;
  padding-bottom: 93px;
  text-align: center;
  &-form {
    width: 488px;
    margin: 0 auto;
    border-bottom: 1px solid #6c7275;
    padding: 12px 0;
    padding-left: 58px;
    position: relative;
    &__input {
      background-color: transparent;
      border: none;
      width: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      background-image: url('./email.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }
  }
}
