@import "../../style/var";

.product-card {
  min-width: 240px;
  &__main {
    margin-bottom: 12px;
    background-color: #f3f5f7;
    padding: 16px;
    position: relative;
    .product-card__tag {
      width: 67px;
      border-radius: 4px;
      padding: 4px 14px;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      color: var(--black-color);
      background-color: #fff;
      margin-bottom: 8px;
      &.sale {
        background-color: #38cb89;
        color: #fff;
      }
    }
    .product-card__overlay {
      padding: 16px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: all 0.3s;
      .like-btn {
        padding: 6px;
        background-color: #fff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 16px;
        right: 16px;
        gap: 0;
        border: none;
        &__text {
          display: none;
        }
      }
      .product-card__btn {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
      }
    }
  }

  &__info {
    font-family: "Inter", sans-serif;
    color: var(--black-color);
    .product-card__rating {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-bottom: 4px;
    }
    .product-card__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 162%;
      margin-bottom: 4px;
    }

    .product-card__price {
      font-weight: 600;
      font-size: 14px;
      line-height: 157%;
    }


    .product-card__descr {
      display: none;
    }

    .product-card__info-buttons {
      display: none;
    }
  }

  &:hover {
    .product-card__main {
      .product-card__overlay {
        opacity: 1;
      }
    }
  }

  &.descr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .product-card__info {
      padding: 24px;
      .product-card__descr {
        display: block;
        padding-top: 16px;
        padding-bottom: 24px;
      }
  
      .product-card__info-buttons {
        display: block;
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .product-card {
    min-width: 150px;
  }
}
