.shop {
    padding-top: 60px;
    padding-bottom: 100px;
    .shop__inner {
        display: flex;
        gap: 24px;
        .shop-main {
            .shop-main__header {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 48px;
                gap: 32px;
                .shop-main__title {
                    margin-right: auto;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 160%;
                    font-family: var(--second-font);
                }
                .shop-main__view {
                    display: flex;
                    .shop-main__view-btn {
                        border: 1px solid #6C7275;
                        width: 46px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.active {
                            background-color: #f3f5f7;
                        }
                        &:hover {
                            background-color: #f3f5f7;
                        }
                    }
                }
            }
            .product-items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 24px;
                margin-bottom: 80px;
            }

            .shop-main__btn {
                font-weight: 500;
                font-size: 16px;
                line-height: 175%;
                letter-spacing: -0.03em;
                text-align: center;
                color: var(--black-color);
                font-family: var(--second-font);
                width: 163px;
                margin: 0 auto;
                border-radius: 80px;
                padding: 6px 0;
                display: block;
                text-align: center;
                border: 1px solid var(--black-color);
            }


        }
        
    }
}