.shop {
    padding-top: 60px;
    padding-bottom: 100px;
    .shop__inner {
        display: flex;
        gap: 24px;
        .shop-main {
            .shop-main__header {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 48px;
                gap: 32px;
                .shop-main__title {
                    margin-right: auto;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 160%;
                    font-family: var(--second-font);
                }
                
            }
            .product-items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 24px;
                margin-bottom: 80px;
            }

            .shop-main__btn {
                
            }


        }
        
    }
}

@media (max-width: 1000px) {
    .shop {
        .shop__inner {
            position: relative;
        }
    }
}