.product-filter__items {
    display: none;
    margin-right: auto;
    gap: 24px;
    align-items: flex-start;
    .product-filter__item {
        width: 50%;
        &-title {
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 16px;
            line-height: 162%;
            color: var(--dark-gray-color);
            font-family: var(--second-font);
        }
        &-menu {
            border: 2px solid var(--dark-gray-color);
            border-radius: 8px;
            padding: 14px 16px;
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            line-height: 162%;
            color: var(--black-color);
            font-family: var(--second-font);
        }
        &-option {
        }
    }
    
}

@media (max-width: 1000px) {
    .product-filter__items {
        display: flex;
        
    }
}

@media (max-width: 800px) {
    .product-filter__items {
        margin-right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        
    }
}

@media (max-width: 550px) {
    .product-filter__items {
        width: 100%;
        .product-filter__item {
            width: 100%;
        }
    }
}



