@import '../../style/var';

.header {
    padding: 18px 0;
    border-bottom: 1px solid #F3F5F7;
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            text-align: center;
        }
        .menu {
            .menu__list {
                display: flex;
                align-items: center;
                gap: 40px;
            }
            .menu__list-item {
                font-weight: 500;
                font-size: 14px;
                line-height: 171%;
                color: #6C7275;
                transition: all 0.3s;
                &:hover {
                    color: var(--black-color);
                }
                &.active {
                    color: var(--black-color);
                }
            }
            .menu__list-link {
            }
        }
        
        .header__buttons {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .header__btn {
        }
        .header__btn-img {
        }

        .menu-btn {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            display: none;
            span {
                width: 30px;
                height: 2px;
                background-color: var(--black-color);
            }
        }
    }
    
}

@media (max-width: 800px) {
    .header {    
        
        .header__inner {
            justify-content: flex-end;
            position: relative;  
            .logo {
                margin-right: auto;
            }
            .menu {
                width: 100%;
                
                .menu__list {
                    position: absolute;
                    flex-direction: column;
                    transform: translateY(-200%);
                    transition: all 0.3s;
                    background-color: #fff;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    padding: 20px 0;
                    &.active {
                        transform: translateY(0%); 
                    }
                }
            }
    
            .menu-btn {
                display: flex;
                margin-left: 20px;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 10;
            }
        }
    }
}
