@import '../../style/var';

.header {
    padding: 18px 0;
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            text-align: center;
        }
        .menu {
            .menu__list {
                display: flex;
                align-items: center;
                gap: 40px;
            }
            .menu__list-item {
                font-weight: 500;
                font-size: 14px;
                line-height: 171%;
                color: #6C7275;
            }
            .menu__list-link {
            }
        }
        
        .header__buttons {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .header__btn {
        }
        .header__btn-img {
        }
    }
    
}
