:root {
  --black-color: #141718;
  --dark-black-color: #121212;
  --blue-color: #377dff;
  --gray-color: #f3f5f7;
  --second-font: "Inter", sans-serif;
  --dark-gray-color: #6C7275;
  --green-color: #45B26B;

}
