.page-preview {
  &__inner {
    height: 392px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    .page-preview__title {
      font-weight: 500;
      font-size: 54px;
      line-height: 107%;
      letter-spacing: -0.02em;
    }
    .page-preview__descr {
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      color: var(--dark-black-color);
      font-family: var(--second-font);
    }
  }
}
