.reviews {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 28px;
      line-height: 121%;
      letter-spacing: -0.02em;
      color: #23262f;
    }
    .reviews-summary {
      display: flex;
      margin-bottom: 40px;
      gap: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 167%;
      color: var(--black-color);
      font-family: var(--second-font);
    }

    .review-form {
      width: 100%;
      position: relative;
      padding: 23px;
      border: 2px solid #e8ecef;
      border-radius: 16px;
      margin-bottom: 40px;
      &__input {
        width: 100%;
        border: none;
        background-color: transparent;
      }
      &__btn {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 176px;
        border-radius: 80px;
      }
    }
  
    &-btn {
      border: 1px solid var(--black-color);
      border-radius: 80px;
      padding: 6px 0;
      width: 158px;
      font-weight: 500;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: -0.03em;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-top: 24px;
    }

    &__items {
      &-header {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .reviews__items-title {
          font-weight: 500;
          font-size: 28px;
          line-height: 121%;
          letter-spacing: -0.02em;
          
        }

        .reviews__items-sort {
          width: 256px;
          border: 2px solid #E8ECEF;
          border-radius: 8px;
          padding: 8px 8px 8px 16px;
          font-weight: 600;
          font-size: 16px;
          line-height: 162%;
          color: var(--black-color);
        }
      }
      
    }
  }