.order {
    .order-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 64px;
        .order-table {
            width: 100%;
            margin-bottom: 80px;
            &__header {
                text-align: left;
                th {
                    border-bottom: 1px solid var(--dark-gray-color);
                    padding-bottom: 24px;
                }
            }
        }

        .order-summary {
            min-width: 413px;
            padding: 24px;
            border: 1px solid var(--dark-gray-color);
            border-radius: 6px;
            .order-summary__title {
                font-weight: 500;
                font-size: 20px;
                line-height: 140%;
                color: var(--black-color);
                margin-bottom: 16px;
            }
            .order-summary__shipping {
                margin-bottom: 4px;
                border: none;
                .order-summary__shipping-label {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 4px;
                    padding: 13px 16px;
                    border: 1px solid var(--black-color);
                    border-radius: 4px;
                    margin-bottom: 12px;
                    width: 100%;
                    .price {
                        margin-left: auto;
                    }
                    &.active {
                        background-color: #F3F5F7;
                    }
                    &:hover {
                        background-color: #F3F5F7;
                    }
        
                }
                .order-summary__shipping-input {
                }
            }
            
            .order-sum {
                .order-sum__item {
                    padding: 13px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: var(--second-font);
                    &.subtotal {
                        font-size: 16px;
                        line-height: 162%;
                    }
                    &.total {
                        font-size: 20px;
                        line-height: 160%;
                        font-weight: 600;
                        margin-bottom: 32px;
                    }
                }
                .order-sum__item-text {
                }
                .order-sum__item-num {
                    font-weight: 600;
                }
            }
            
            .order-summary__btn {
                width: 100%;
            }
        }
    }

    .order-caupon {
        width: 424px;
        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            color: var(--black-color);
            margin-bottom: 7px;
        }

        &__text {
            margin-bottom: 16px;
            font-family: var(--second-font);
            color: var(--black-color);
            font-size: 16px;
            line-height: 162%;

        }

        &__form {
            width: 100%;
            border: 1px solid var(--dark-gray-color);
            padding: 12px 16px;
            padding-left: 48px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-image: url('./caupon.svg');
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
            }
            &-input {
                border: none;
                width: 84%;

            }
            &-btn {
                font-weight: 500;
                font-size: 16px;
                line-height: 175%;
                letter-spacing: -0.03em;
                color: var(--black-color);
                font-family: var(--second-font);
                text-align: right;
            }
        }
    }
}

@media (max-width: 900px) {
    .order {
        .order-details {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }
}