.sign-up {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-200%);
    display: none;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .sign-up__media {
            background-color: #F3F5F7;
            padding-top: 32px;
            position: relative;
            .sign-up__media-text {
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                text-align: center;
            }
            .sign-up__media-img {
                width: 100%;
                object-fit: cover;
            }
        }
        
        .sign-up__info {
            padding-top: 120px;
            padding-left: 88px;
            background-color: #fff;
            position: relative;

            .sign-in__modal {
                display: none;
                &.active {
                    display: block;
                }
            }

            .sign-up__modal {
                display: none;
                &.active {
                    display: block;
                }
            }

            .sign-up__close-btn {
                position: absolute;
                top: 22px;
                right: 32px;
                font-size: 32px;
            }
            &-title {
                margin-bottom: 24px;
            }
            &-text {
                font-family: var(--second-font);
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: var(--dark-gray-color);
                margin-bottom: 32px;
            }
            &-link {
                color: #38CB89;
                font-weight: 600;
            }
            .sign-up__form {
                width: 456px;
                &-input {
                    width: 100%;
                    margin-bottom: 32px;
                    border: none;
                    border-bottom: 1px solid #E8ECEF;
                    padding-bottom: 8px;
                }

                input[type="checkbox"] {
                    margin-bottom: 0;
                }
                
                &-label {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    input {
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                    }
                    .sign-up__form-link {
                        font-weight: 600;
                    }
                }
                &-password {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 32px;
                    .sign-up__form-link {
                        font-weight: 600;
                        color: #141718;
                    }
                }
                &-btn {
                    display: block;
                    width: 100%;
                }
            }
            
        }
    }

    &.active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 1;
        transform: translateY(0);
        overflow: hidden;
        z-index: 100;
    }
}

@media (max-width: 500px) {
    .sign-up {
        &__inner {
            display: flex;
            flex-direction: column;
            .sign-up__media {
                height: 40vh;
            }
        }
    }
}
