.benefit-item {
  background-color: #f3f5f7;
  padding: 48px 32px;
  &__img {
    margin-bottom: 16px;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--black-color);
  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #6c7275;
  }
}

@media (max-width: 1000px) {
  .benefit-item {
    padding: 30px 20px;
  }
}
